#f1 {
    display: none;
}

#f2 {
    display: none;
}

/* #b3 {
    display: none;
} */

.custom-btn{
	display: inline-block;
	padding-left: 32%;
    padding-top: 30%;
}
.custom-btn button{ 
	height: 50px;
	}
.custom-form{
	margin-left: 45%;
    box-shadow: 7px 7px 13px #b8b0b0;
    height: auto;
    padding: 20px;
    margin-top: -250px;
}
.student-back{
    display: flex;
    justify-content: space-between;
}
